* {
  font-family: cursive;
  color: white;
}

.title {

}

header {
  background-image: "./images/spacebackground.jpg";
}

.button {

}

article {
  background: plum;
}

footer {
  background-image: "./images/spacebackground.jpg";
