* {
  font-family: cursive;
  color: white;
}

.title {

}

header {
  background: url("https://wallpapers.com/images/hd/space-desktop-background-ny0idkrr1fx21uf.jpg");
}

.button {

}

article {
  background: plum;
}

footer {
  background-image: url("./images/spacebackground.jpg");
