* {
  font-family: Andale Mono;
}

h1 {
  text-size: 30px;
}

a {
 color: white;
}

#anime {
  color: #9400D3;
}

.message {
  <!-- font-family: Brush Script MT; -->
}

body {
  background-image: url("./images/spacebackground.jpg");
  font-family: Andale Mono;
  color: white;
  <!-- width: 100vw; -->
  <!-- text-align: center; -->
}
.title {

}

header {
  
}

button {
  color: white;
  background: plum;
  border-radius: 6px;
  padding: 10px 26px;
  font-size: 16px;
  border-color: white;
}

.button {
  <!-- line-height: 1.5; -->
  <!-- background: plum; -->
  <!-- border-color: white; -->
  <!-- color: white; -->
}

article {
  background: plum;
}

footer {
  color: white;
}
